import requests
from requests import post


while True:
	url= "https://launches.appsflyer.com/api/v6.9/iosevent?app_id=835599320&buildnumber=6.9.2"
	head={
		"Accept":"*/*",
		"Accept-Encoding":"gzip, deflate, br",
		"Connection":"keep-alive",
		"Content-Type":"application/octet-stream",
		"Host":"launches.appsflyer.com",
		"Content-Length":"1768",
		"User-Agent":"TikTok/314022 CFNetwork/1410.0.3 Darwin/22.6.0",
		"Accept-Language":"ar"
	}
	re = requests.post(url, headers=head)
	print(re)
